@charset "utf-8";
#task_phase_details .modal-body table th,#task_phase_details .modal-body table td{
    border: none !important;
}
#task_phase_details .jqGrid_wrapper{
    padding: 0;
    margin: 15px 0 0;
}